* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

body {
    height: 100%;
    div.menuButton {
        transition: all 2s ease;
        position: absolute;
        left: 5vw;
        top: 2vh;
        span {
            width: 40px;
            height: 4px;
            background: black;
            display: block;
            margin: 0.3rem 0;
        }
    }

    div.slideMenu {
        position: absolute;
        width: 100vw;
        min-height: 100vh;
        height: auto;
        background: rgb(216, 144, 210);
        right: -100vw;
        transition: all 2s ease;
        z-index: 100;
        ol {
            list-style: none;
            position: relative;
            top: 2rem;
            li {
                margin-top: .5rem;
                margin-left: .5rem;
                padding: .5rem;
                border: 2px solid black;
                max-width: 75vw;
                a {
                    text-decoration: none;
                    color: black;
                    font-size: 1.5rem;
                    font-weight: bolder;
                }
            }
            :hover {
                background: white;
            }
        }
    }

    header {
        background-color: rgb(250, 201, 250);
        div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            padding: 1rem;
            img {
                height: 10vh;
                width: 10vh;
                border-radius: 2rem;
            }
            h1 {
                font-size: 10vw;
            }
        }
    }


    section {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center; 
        div.flexslider{
            width: 90vw;
            margin: auto;
            height: auto;
        }
    }

    footer {
        margin-top: 5rem;
        padding: 1rem;
        background-color: rgb(250, 201, 250);
        h3 {
            font-size: 1rem;
            margin: 0.5rem 0;
        }
    }
}

div.menuButton.trigger {
    position: absolute;
    left: 80vw;
    z-index: 100000000000;
}

div.slideMenu.trigger {
    position: absolute;
    left: 0;
}

.MoveOut {
    position: absolute;
    right: -100vw;
}

@keyframes moveIn {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes moveOut {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(-200%);
    }
}


@media screen and (min-width: 500px) {
    body {
        background-color: rgb(238, 238, 180);
        div.menuButton {
            display: none;
            transition: all 2s ease;
            position: absolute;
            left: 5vw;
            top: 2vh;
            span {
                width: 40px;
                height: 4px;
                background: black;
                margin: 0.3rem 0;
                display: block;
            }
        }

        div.slideMenu {
            display: inline;
            position: static;
            width: 50px;
            height: 50px;
            background: rgb(216, 144, 210);
            right: -100vw;
            transition: all 2s ease;

            ol {
                list-style: none;
                position: static;
                top: 2rem;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;                
                li {
                    margin: 1rem 1rem;
                    padding: 1rem;
                    border: 2px solid black;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    background: rgb(216, 144, 210);
                    a {                        
                        text-decoration: none;
                        color: black;
                        font-size: .8rem;
                    }
                }
                :hover {
                    background: white;
                }
            }
        }

        header{
            display: none;
        }

        div.content{
            br{
                display: none;
            }
            margin: 1rem 0;
            display: flex;
            flex-direction: row;
            justify-content: center;
            div{
                margin: 0 2rem;
                h2{
                    font-size: 2rem;
                }
                h3{
                    font-size: 1rem;
                }
            }
        }

        section{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            
            hr{
                display: none;
            }
            div.flexslider{
                width: 300px;
                height: 600px;
                margin: 3rem;
                padding: auto;
                flex-basis: 300px;
                border: black 2px solid;
                ul{
                    li{
                        img{
                            max-width: 300px;
                            max-height: 350px;
                        }
                    }
                }
                h1{
                    font-size: 1.2rem;
                    text-decoration: underline;
                }

                div{                    
                    background-color: white;
                    margin-bottom: .5rem;

                    h3{
                        font-size: 1rem;
                        text-decoration: underline;
                    }
                    ul{
                        list-style-type: none;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-evenly;
                        height: 170px;

                        li{
                           h4{
                               font-size: 1rem;
                           }
                        }
                    }
                }
            }
            
        }

    }
}
